html {
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
}
body {
  font-family:
   apple-system,
   BlinkMacSystemFont,
   "Segoe UI",
   Roboto,
   Oxygen-Sans,
   Ubuntu,
   Cantarell,
   "Helvetica Neue",
   sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  line-height: 1.28571429em;
  margin: 0 0 1rem 0;
  font-weight: bold;
  padding: 0;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0;
}
h1,
h2,
h3 {
  text-transform: uppercase;
}
h1 {
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0;
}
h2 {
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 0.25em;
}
h2 + p {
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 0.25em;
}
h3 {
  font-weight: 700;
  font-size: 1.25rem;
  letter-spacing: 0.15em;
}
h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  margin: 0 0 1em 0;
}
section {
  padding: 1em 0;
}
p {
  margin: 0 0 1em;
  line-height: 1.4285em;
}
p:first-child {
  margin-top: 0;
}
p:last-child {
  margin-bottom: 0;
}
strong {
  font-weight: 600;
}
small {
  font-size: 80%;
}
ul > li::before {
  content: "●";
  font-family: "Arial", sans-serif;
  float: left;
  width: 1.5em;
  margin-left: -1.5em;
  text-align: center;
}
a {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}
a[rel="external"]:not(.label):hover,
a.language:hover span {
  text-decoration: underline;
}
.my-avatar {
  margin-top: 10px;
  margin-left: 10px;
  background-color: red;
}
/* Prevent `sub` and `sup` elements from affecting the line height in all browsers */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

/* Article */
article {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  article {
    width: 723px;
    margin-top: calc((100% - 723px) / 2);
    margin-bottom: calc((100% - 723px) / 2);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  article {
    width: 933px;
    margin-top: calc((100% - 933px) / 2);
    margin-bottom: calc((100% - 933px) / 2);
  }
}
@media only screen and (min-width: 1200px) {
  article {
    width: 1127px;
    margin-top: calc((100% - 1127px) / 2);
    margin-bottom: calc((100% - 1127px) / 2);
  }
}

/* Page */
.page {
  position: relative;
  padding: 3em;
  background: white;
  box-shadow: 0 10px 100px 0 rgba(34, 36, 38, 0.1);
  transition: box-shadow 0.2s linear;
}
.page[style^="border-color"] {
  padding: 4.5em;
}
.page[style^="border-color"]::before {
  content: " ";
  display: block;
  position: absolute;
  left: 2em;
  top: 2em;
  right: 2em;
  bottom: 2em;
  border-color: inherit;
  border-width: 1em;
  border-style: solid;
  pointer-events: none;
  transition: border-color 0.2s ease-in-out;
}
@media only screen {
  .page:hover {
    box-shadow: 0 10px 100px 0 rgba(34, 36, 38, 0.3);
  }
}
@media only screen and (max-width: 767px) {
  .page,
  .page[style^="border-color"] {
    padding: 0;
  }
  .page[style^="border-color"]::before {
    display: none;
  }
}

.grid {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
}
.grid .grid {
  margin-left: -1em;
  margin-right: -1em;
}

/* Rows */
.grid > .row {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: inherit;
  align-items: stretch;
  width: 100% !important;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* Columns */
/* Standard 16 column */
.grid > .column:not(.row),
.grid > .row > .column {
  position: relative;
  display: inline-block;
  width: 6.25%;
  padding-left: 1rem;
  padding-right: 1rem;
  vertical-align: top;
}
.grid > * {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Columns */
/* Vertical padding when no rows */
.grid > .column:not(.row) {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.grid > .row > .column {
  margin-top: 0;
  margin-bottom: 0;
}

/* Assume full width with one column */
.grid > .column:only-child,
.grid > .row > .column:only-child {
  width: 100%;
}

/* Column Width */

.grid > .row > [class*="six wide"].column,
.grid > .column.row > [class*="six wide"].column,
.grid > [class*="six wide"].column,
.column.grid > [class*="six wide"].column {
  width: 37.5% !important;
}
.grid > .row > [class*="ten wide"].column,
.grid > .column.row > [class*="ten wide"].column,
.grid > [class*="ten wide"].column,
.column.grid > [class*="ten wide"].column {
  width: 62.5% !important;
}
.grid > .row > [class*="sixteen wide"].column,
.grid > .column.row > [class*="sixteen wide"].column,
.grid > [class*="sixteen wide"].column,
.column.grid > [class*="sixteen wide"].column {
  width: 100% !important;
}

/* Center Aligned */
[class*="center aligned"].grid > .column,
[class*="center aligned"].grid > .row > .column,
.grid > [class*="center aligned"].row > .column,
.grid > [class*="center aligned"].column.column,
.grid > .row > [class*="center aligned"].column.column {
  text-align: center;
}

/* Stackable */
@media only screen and (max-width: 767px) {
  .stackable.grid > .row > .wide.column,
  .stackable.grid > .wide.column,
  .stackable.grid > .column.grid > .column,
  .stackable.grid > .column.row > .column,
  .stackable.grid > .row > .column,
  .stackable.grid > .column:not(.row),
  .grid > .stackable.row > .column {
    width: 100% !important;
    padding: 1em !important;
  }
}

/* Mobile only column */
[class*="mobile only"].grid,
.grid > [class*="mobile only"].row,
.grid > [class*="mobile only"].column,
.grid > .row > [class*="mobile only"].column {
  display: none;
}
/* Avatar */
.avatar-wrapper {
  padding: 0 1em;
  display: flex;
  align-items: center;
  justify-content: start;
  float:left; 
  margin: 5px 5px 5px 0; 
}
@media only screen and (max-width: 767px) {
  [class*="mobile only"].grid,
  .grid > [class*="mobile only"].row,
  .grid > [class*="mobile only"].column,
  .grid > .row > [class*="mobile only"].column {
    display: block;
  }
}


/* Divider */
.divider {
  border-top: 1px solid rgba(222, 222, 222, 1);
}
.divider.fat {
  border-top: 0.3571428571428571em solid rgba(10, 10, 10, 1);
  width: 33%;
}

/* Language */
.language {
  font-weight: 600;
  white-space: nowrap;
}

/* Contacts */
.contacts {
  list-style: none outside none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  white-space: nowrap;
  font-size: 0.9em;
  font-weight: 400;
}
.contacts li {
  margin-bottom: 0.25rem;
  margin-right: 1em;
}
.contacts li::before {
  display: none;
}
.contacts li a {
  color: black;
  transition: color 0.2s ease-in-out;
}
.contacts li a.facebook:hover {
  color: #3b5998;
}
.contacts li a.github:hover {
  color: dimgrey;
}
.contacts li a.mail:hover {
  color: dimgrey;
}
.contacts li a.skype:hover {
  color: #00aff0;
}
.contacts li a.telegram:hover {
  color: #08c;
}
.contacts li a.phone:hover {
  color: dimgrey;
}
.contacts li a .icon {
  fill: currentColor;
  height: 1.1428rem;
  vertical-align: text-bottom;
}

@media only screen and (max-width: 767px) {
  .name,
  .job,
  .contacts {
    text-align: center;
  }
  .contacts li {
    margin-right: 0;
  }
}
@media only screen and (max-width: 1199px) {
  .contacts {
    margin-top: 1em;
    flex-direction: column;
  }
}

/* Highlighted list item */
li.highlighted {
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

/* Timeline */
.timeline {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.timeline:not(:last-child) {
  margin-bottom: 1em;
}
.timeline > li:not(:last-child) {
  margin-bottom: 1em;
}
.timeline > li p {
  margin: 0;
}

/* Tags */
.tags.small {
  font-size: 0.88em;
}
.tags.bulleted .tag:not(:last-child)::after {
  content: "●";
  display: inline-block;
  font-family: "Arial", sans-serif;
  font-size: 1rem;
  margin: 0 0.25em 0 0.25em;
}

/* Color */
.color {
  cursor: pointer;
  white-space: nowrap;
  background: inherit;
  color: inherit;
  font: inherit;
  border: none;
  margin: 0;
  padding: 0;
}
.color::before {
  content: " ";
  display: inline-block;
  border-radius: 100%;
  margin: 0.27em;
  height: 0.88em;
  width: 0.88em;
  vertical-align: top;
  position: relative;
}
.color.midnightblue::before {
  background-color: midnightblue;
}
.color.chartreuse::before {
  background-color: chartreuse;
}

/* Hide header, reveal footer */
header {
  position: fixed;
  z-index: 1;
  background: white;
  top: 0;
  left: 0;
  height: 2em;
  width: 100%;
}
header + main {
  margin-top: 2em;
}
main {
  overflow: auto;
  z-index: 2;
  background: white;
  position: relative;
}
main:nth-last-child(3) {
  margin-bottom: 50vh;
}

@media only screen and (max-width: 767px) {
  header {
    height: auto;
    position: relative;
  }
  header + main {
    margin-top: 0;
  }
  main:nth-last-child(3) {
    margin-bottom: 0;
  }
}
